@page
@model RazorPagesMovie.Pages.Productions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Production</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Production.MovieId" class="control-label"></label>
                <select asp-for="Production.MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Production.Producer" class="control-label"></label>
                <input asp-for="Production.Producer" class="form-control" />
                <span asp-validation-for="Production.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Production.Director" class="control-label"></label>
                <input asp-for="Production.Director" class="form-control" />
                <span asp-validation-for="Production.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Production.Writer" class="control-label"></label>
                <input asp-for="Production.Writer" class="form-control" />
                <span asp-validation-for="Production.Writer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Production.Costume" class="control-label"></label>
                <input asp-for="Production.Costume" class="form-control" />
                <span asp-validation-for="Production.Costume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
